* {
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: 1px;
    font-family: 'Noto Serif Display', serif;
    display: flex;
    background: #f0eef1;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
}

button,
input[type='checkbox'] {
    cursor: pointer;
}

header {
    box-shadow: 1px 1px 5px grey;
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header button {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
    background: #f0eef1;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
}

header button:hover {
    background: #dad8db;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    justify-content: center;
    gap: 35px;
    padding: 20px;
}

.book {
    overflow-wrap: break-word;
    background: white;
    border-radius: 10px;
    display: flex;
    box-shadow: 2px 2px 8px grey;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px;
    flex-direction: column;
    gap: 15px;

}

.book button {
    text-transform: capitalize;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    border: none;
    padding: 10px 2px;
    border-radius: 5px;
    background: #62e1c5;
}

.book button:hover {
    background: aquamarine;
}

.book .remove {
    background: #ef9a9af0;
}

.book .remove:hover {
    background: lightcoral;
}

/* modal */
#popup {
    display: none;
}

.modal {
    border-radius: 10px;
    padding: 20px;
    background: #f0eef1;
    left: 50%;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cancel {
    height: 30px;
    border-radius: 15px;
    color: white;
    background: #ff5722;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    right: -6px;
    top: -8px;
    width: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.modal-head {
    padding-bottom: 15px;
}

input[type='text'],
input[type='number'] {
    display: block;
    border-radius: 5px;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
}

input:focus {
    outline: none;
}

#submit {
    padding: 12px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    background: #5de1be;
}

#submit:hover {
    background: aquamarine;
}

form label {
    font-weight: bold;
    padding-right: 5px;
    font-size: 1.1rem;
}

input[type='checkbox'] {
    transform: scale(1.3);
}

form {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

/* footer */
footer {
    padding: 10px 5px;
    background: #9e9e9e40;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}

/* media queries */
@media screen and (max-width: 1280px) {
    .books {
        grid-template-columns: repeat(3, 30vw);
    }
}

@media screen and (max-width: 992px) {
    .books {
        grid-template-columns: repeat(2, 43vw);
    }
}

@media screen and (max-width: 480px) {
    .books {
        grid-template-columns: repeat(1, 90vw);
    }

    .cancel {
        font-size: 1.2rem;
    }
}

@media screen and (width: 280px) {
    header {
        padding: 15px 8px;
    }

    header button {
        font-size: 1.1rem;
    }

    .modal {
        padding: 20px 15px;
    }

    form {
        width: 81vw;
    }
}